extends layout

block content
  .wrapper.fadeInDown.pt-100
    .col-md-5.m-auto
      #formContent.card.card-body.text-center
        h4.text-center.mt-2 zzzzzzzzz
        a.btn.btn-primary.btn-block.mb-2(href='/register') Register
        a.btn.btn-secondary.btn-block(href='/login') Login
